{{>topbar}}

<!-- Main -->
<main class="wrapper">

    {{>sidebar}}

    <!-- Content -->
    <section class="content-wrapper" id="property_management">

        <!-- Main Content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 p-0">
                        <header>
                            <h2>Property management</h2>
                        </header>
                        <section class="profile-info">

                        </section>
                    </div>
                </div>
            </div>
        </section>

    </section>

</main>