<!DOCTYPE html>
<html lang="en">

{{>header}}

<body>
    <div class="container m-5">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <form class="d-flex flex-column justify-content-center" action="">
                    <input class="form-control mb-2" type="text" placeholder="Name" required>
                    <input class="form-control mb-2" type="email" placeholder="Email" required>
                    <input class="form-control mb-2" type="password" placeholder="Password" required>
                    <button class="btn btn-primary btn-s btn-block mb-2">Sign up</button>
                </form>
            </div>
        </div>
    </div>

    {{>scripts}}
</body>

</html>