{{>topbar}}

<!-- Main -->
<main class="property">

    {{>property}}

    <!-- Content -->
    <section class="content">
        <div class="property-about">
            <h4>{{property.name}}</h4>
            <div class="location">
                <img src="/images/icons/location.svg" alt="">
                <span>{{property.location}}</span>
            </div>
            <p>
                {{property.about}}
            </p>
        </div>
        <div class="property-card">
            <div class="property-card-item">
                <div class="detail-wrapper">
                    <div class="d-flex flex-column">
                        <span class="room-no">12</span>
                        <span class="room-description">Available</span>
                    </div>
                    <img src="/images/icons/available.svg" alt="">
                </div>
                <a href="#">View details</a>
            </div>
            <div class="property-card-item">
                <div class="detail-wrapper">
                    <div class="d-flex flex-column">
                        <span class="room-no">12</span>
                        <span class="room-description">Occupied</span>
                    </div>
                    <img src="/images/icons/occupied.svg" alt="">
                </div>
                <a href="#">View details</a>
            </div>
            <div class="property-card-item">
                <div class="detail-wrapper">
                    <div class="d-flex flex-column">
                        <span class="room-no">12</span>
                        <span class="room-description">All tenant(s)</span>
                    </div>
                    <img src="/images/icons/tenant.svg" alt="">
                </div>
                <a href="#">View details</a>
            </div>
            <div class="property-card-item">
                <div class="detail-wrapper">
                    <div class="d-flex flex-column">
                        <span class="room-no">12</span>
                        <span class="room-description">Booking(s)</span>
                    </div>
                    <img src="/images/icons/booking.svg" alt="">
                </div>
                <a href="#">View details</a>
            </div>
        </div>
    </section>

    {{>modals/add_modal}}

</main>