// components

// sidebar
@media screen and (max-width: 798px) {
  .main.main--admin {
    .sidebar {
      width: 100%;
    }
  }
}

// topbar
@media screen and (max-width: 768px) {
  .topbar {
    .user {
      .user-username {
        display: none;
      }
    }
  }
}

// property topbar
@media screen and (max-width: 1110px) {
  .page.page--property {
    .topbar-property {
      flex-direction: column;
      align-items: flex-start;

      .topbar-title {
        color: color(color-1);
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;
      }

      .topbar-subtitle {
        font-size: 0.9rem;
      }

      .nav-tabs {
        justify-content: space-between;
        width: 100%;
        margin: 1rem 0 0 0;
        padding: 0.25rem 0.75rem;
        background-color: color(color-3);

        .nav-item {
          .nav-link {
            display: flex;
            align-items: center;
            color: white;
            font-size: 0.8rem;
            text-transform: uppercase;
            border: none;

            span {
              display: none;
            }

            svg {
              display: block;
              margin: 0 !important;
            }
          }
        }
      }
    }
  }
}

// layout

//main
@media screen and (max-width: 768px) {
  .main.main--admin {
    flex-direction: column;

    .main-content {
      width: 100%;
    }
  }
}

// pages

// profile
@media screen and (max-width: 992px) {
  .page--profile {
    .row {
      flex-direction: column-reverse;
    }

    .user {
      align-items: center;
      margin: 0;
    }
  }
}
