/* Topbar */

#topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #47556b;
}

#topbar .title-wrapper .title {
  font-size: 1.2rem;
}

#topbar .user {
  display: flex;
  align-items: center;
}

#topbar .user .name {
  margin-right: 1rem;
  font-size: 0.9rem;
  text-transform: lowercase;
}

#topbar .user .photo {
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
}

/* Sidebar */

#sidebar {
  width: 16rem;
  min-width: 16rem;
  min-height: 500px;
  padding: 0 0 4rem 0;
  color: #ffffff;
  line-height: 1rem;
  background-color: #1b2432;
}

@media screen and (max-width: 760px) {
  #sidebar {
    display: none;
  }
}

#sidebar .brand-wrapper {
  margin: 1.25rem;
}

#sidebar .brand-link {
  color: #ffeab2;
  font-size: 1.4rem;
  line-height: 1.2rem;
  text-transform: uppercase;
}

#sidebar .navbar-nav {
  width: 100%;
  margin-top: 1rem;
}

#sidebar .navbar-nav .nav-item {
  width: 100%;
}

#sidebar .navbar-nav .nav-item .card {
  margin: 0.25rem 0.75rem;
  padding: 0;
  background-color: #47556b;
  border-radius: 3px;
}

#sidebar .navbar-nav .nav-item .card button {
  margin: 0;
  font-size: 0.8rem;
}

#sidebar .navbar-nav .nav-item .nav-link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1.1rem 1.25rem;
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
}

/* Modal */

form .modal .modal-dialog .modal-content {
  border-radius: 3px;
  background: none;
}

form .modal .modal-dialog .modal-content .modal-header {
  padding: 1rem 1.5rem;
  background-color: #1b2432;
  border: none;
}

form .modal .modal-dialog .modal-content .modal-body {
  padding: 1rem 1.5rem;
  background-color: #47556b;
}

form .modal .modal-dialog .modal-content .modal-footer {
  padding: 0.5rem 1rem;
  background-color: #1b2432;
  border: none;
}
