/* Topbar */

.navbar {
  height: 80px;
  margin: 0;
  padding: 0 2rem;
  background-color: #1b2432;
  align-items: center;
}

.navbar .navbar-brand .crest {
  width: 170px;
  padding: 0;
  margin: 0;
}

.navbar .navbar-nav {
  margin-left: 102px;
  flex-direction: row;
}

.navbar .navbar-nav .nav-item {
  margin-right: 1rem;
}

.navbar .navbar-nav .nav-item .nav-link {
  padding: 1rem;
  color: #ffeab2;
  text-transform: uppercase;
}

.navbar .dropdown {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0;
  margin: 0;
  width: 18rem;
}

.navbar .dropdown .user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .dropdown .user .avatar {
  width: 2.4rem;
  height: 2.4rem;
  margin: 0;
  padding: 0;
  border-radius: 1.2rem;
}

.navbar .dropdown .dropdown-menu {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: none;
  border-radius: 2px;
  background: #ffeab2;
}

.navbar .dropdown .dropdown-menu .menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.navbar .dropdown .dropdown-menu .menu .profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 0.8rem 0.5rem;
}

.navbar .dropdown .dropdown-menu .menu .profile .photo {
  width: 5rem;
  height: 5rem;
  margin-bottom: 1rem;
  border-radius: 2.5rem;
}

.navbar .dropdown .dropdown-menu .menu .profile span {
  word-wrap: break-word;
}

.navbar .dropdown .dropdown-menu .menu .profile .name {
  text-transform: uppercase;
}

.navbar .dropdown .dropdown-menu .menu .profile .email {
  font-size: 0.8rem;
}

.navbar .dropdown .dropdown-menu .menu .button-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.6rem;
}

.navbar .dropdown .dropdown-menu .menu .button-group .setting {
  padding: 0.4rem 1rem;
  margin: 0;
  color: #1b2432;
  border: 1px solid #1b2432;
  box-shadow: none;
}

.navbar .dropdown .dropdown-menu .menu .button-group form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 0;
  padding: 0;
}

.navbar .dropdown .dropdown-menu .menu .button-group form .logout {
  margin: 0;
  color: #ffeab2;
  background-color: #1b2432;
  box-shadow: none;
}

/* Sidebar */

.property .sidebar {
  width: 20rem;
  min-height: 100vh;
  padding: 1.5rem 0;
  margin-right: 2rem;
  background-color: #1b2432;
  border-radius: 2px;
}

.property .content {
  width: 100%;
  background-color: #ffffff;
}

.property .sidebar .navbar-nav .nav-item {
  display: flex;
  justify-content: start;
  align-items: center;
  min-height: 40px;
  padding: 0.8rem 1.6rem;
}

.property .sidebar .navbar-nav .nav-item .icon {
  width: 20px;
  margin-right: 0.7rem;
  padding: 0;
}

.property .sidebar .navbar-nav .nav-item .text {
  color: #ffeab2;
}
