/* Topbar */

#topbar {
  justify-content: flex-end;
  padding: 1rem;
  background-color: #1b2432;
}

#topbar .user {
  display: flex;
  align-items: center;
}

#topbar .user .name span {
  margin-right: 0.8rem;
  color: white;
  font-size: 0.9rem;
  text-transform: uppercase;
}

#topbar .user .dropdown .picture {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 1.2rem;
  background-color: #ffeab2;
}

#topbar .user .dropdown .picture .avatar {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 1.2rem;
}

#topbar .user .dropdown .dropdown-menu {
  position: relative;
  left: -130px;
  margin: 0.5rem;
  background-color: #ffeab2;
  border-radius: 3px;
}

#topbar .user .dropdown .dropdown-menu form {
  width: auto;
  margin-bottom: 0.5rem;
}

#topbar .user .dropdown .dropdown-menu form button {
  border-radius: 0;
}

#topbar .user .dropdown .dropdown-menu form button:focus {
  color: #1b2432;
  border: none;
  outline: none;
  background: none;
}

#topbar .user .dropdown .dropdown-menu .dropdown-item {
  display: flex;
  align-items: center;
  padding: 0.7rem 1rem;
  font-size: 0.9rem;
}

#topbar .user .dropdown .dropdown-menu .dropdown-item:focus {
  background: none;
}

#topbar .user .dropdown .dropdown-menu .dropdown-item:hover {
  background: none;
}

/* Sidebar */

#sidebar {
  width: 15rem;
  min-width: 15rem;
  min-height: 100vh;
  color: #ffffff;
  line-height: 1rem;
  background-color: #1b2432;
}

#sidebar .brand {
  margin: 1rem;
}

#sidebar .brand-link {
  color: #ffeab2;
  font-size: 1.2rem;
  line-height: 1rem;
  text-transform: uppercase;
}

#sidebar .navbar-nav {
  width: 100%;
  margin-top: 1.2rem;
}

#sidebar .navbar-nav .nav-item {
  width: 100%;
}

#sidebar .navbar-nav .nav-item .card {
  padding: 0 0.8rem;
  background: none;
  border-radius: 0;
}

#sidebar .navbar-nav .nav-item .card button {
  margin: 0;
  font-weight: normal;
  border-radius: 0;
}

#sidebar .navbar-nav .nav-item .nav-link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.8rem 1rem;
  color: #ffffff;
  font-size: 0.9rem;
}
