/* Admin */

#main-content-admin {
  display: flex;
  width: 100%;
}

#main-content-admin #content {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

#main-content-admin #content .wrapper {
  margin: 1rem 2rem;
  padding: 1rem;
}

/* Sidebar */

#main-content-admin #sidebar {
  width: 16rem;
  min-width: 16rem;
  min-height: 100%;
  padding: 0 0 4rem 0;
  color: #ffffff;
  line-height: 1rem;
  background-color: #1b2432;
}

#main-content-admin #sidebar .brand-wrapper {
  margin: 1.25rem;
}

#main-content-admin #sidebar .brand-link {
  color: #ffeab2;
  font-size: 1.4rem;
  line-height: 1.2rem;
  text-transform: uppercase;
}

#main-content-admin #sidebar .navbar-nav {
  width: 100%;
  margin-top: 1rem;
}

#main-content-admin #sidebar .navbar-nav .nav-item {
  width: 100%;
}

#main-content-admin #sidebar .navbar-nav .nav-item .card {
  margin: 0.25rem 0.75rem;
  padding: 0;
  background-color: #47556b;
  border-radius: 3px;
}

#main-content-admin #sidebar .navbar-nav .nav-item .card button {
  margin: 0;
  font-size: 0.8rem;
}

#main-content-admin #sidebar .navbar-nav .nav-item .nav-link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1.1rem 1.25rem;
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  border-right: 4px solid #1b2432;
}

#main-content-admin #sidebar .navbar-nav .nav-item .nav-link-custom {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1.1rem 1.25rem;
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
}

#main-content-admin #sidebar .navbar-nav .nav-item .nav-link-custom svg {
  fill: #ffffff;
}

#main-content-admin #sidebar .navbar-nav .nav-item .nav-link:hover {
  border-right: 4px solid #ffeab2;
}

#main-content-admin #sidebar .navbar-nav .nav-item .nav-link svg {
  fill: #ffffff;
}

/* Topbar */

#main-content-admin #content #topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #47556b;
}

#main-content-admin #content #topbar .title-wrapper .title {
  font-size: 1.2rem;
}

#main-content-admin #content #topbar .user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  color: #ffffff;
  cursor: pointer;
}

#main-content-admin #content #topbar .user .username {
  margin-right: 1rem;
  font-size: 0.9rem;
  text-transform: lowercase;
}

#main-content-admin #content #topbar .user .photo {
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
}

#main-content-admin #content #topbar .user .profile-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  min-height: 2rem;
  background-image: url("../img/default-profile-photo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 1rem;
}

#main-content-admin #content #topbar .dropdown-menu {
  width: 220px;
  max-width: 220px;
  margin-top: 0.5rem;
  padding: 0;
  background: none !important;
  border: none !important;
}

#main-content-admin #content #topbar .dropdown-menu .navbar-nav {
  flex-direction: column;
  width: 100%;
  background-color: #ffeab2;
  border-radius: 3px;
}

#main-content-admin #content #topbar .dropdown-menu .navbar-nav .nav-item {
  width: 100%;
}

#main-content-admin #content #topbar .dropdown-menu .navbar-nav .nav-item form {
  width: 100%;
  margin: 0;
  padding: 0;
  background: none;
}

#main-content-admin
  #content
  #topbar
  .dropdown-menu
  .navbar-nav
  .nav-item
  form
  button {
  width: 100%;
  margin: 0;
  text-align: left;
  text-transform: capitalize;
}

#main-content-admin
  #content
  #topbar
  .dropdown-menu
  .navbar-nav
  .nav-item
  .nav-link {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  color: #1b2432;
  font-size: 0.9rem;
  font-weight: 400;
}

#main-content-admin
  #content
  #topbar
  .dropdown-menu
  .navbar-nav
  .nav-item
  .nav-link
  svg {
  fill: #1b2432;
}
