.custom-bg-1 {
  background-color: #ffeab2;
}

.custom-bg-2 {
  background-color: #1b2432;
}

.custom-bg-3 {
  background-color: #394456;
}

.custom-bg-4 {
  background-color: #47556b;
}

.custom-bg-5 {
  background-color: #6c7789;
}

.main {
  width: 100%;
  height: 100%;
}

.main.main--admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  background-color: #47556b;
}

.main.main--admin .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 16rem);
  height: 100%;
}

.main.main--admin .main-content .page {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin-bottom: 2rem;
  padding: 0.5rem;
}

@media screen and (max-width: 798px) {
  .main.main--admin .sidebar {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .topbar .user .user-username {
    display: none;
  }
}

@media screen and (max-width: 1110px) {
  .page.page--property .topbar-property {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .page.page--property .topbar-property .topbar-title {
    color: #ffeab2;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  .page.page--property .topbar-property .topbar-subtitle {
    font-size: 0.9rem;
  }
  .page.page--property .topbar-property .nav-tabs {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin: 1rem 0 0 0;
    padding: 0.25rem 0.75rem;
    background-color: #394456;
  }
  .page.page--property .topbar-property .nav-tabs .nav-item .nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    font-size: 0.8rem;
    text-transform: uppercase;
    border: none;
  }
  .page.page--property .topbar-property .nav-tabs .nav-item .nav-link span {
    display: none;
  }
  .page.page--property .topbar-property .nav-tabs .nav-item .nav-link svg {
    display: block;
    margin: 0 !important;
  }
}

@media screen and (max-width: 768px) {
  .main.main--admin {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main.main--admin .main-content {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .page--profile .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .page--profile .user {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 16rem;
  min-width: 16rem;
  margin: 0;
  padding: 0;
  background-color: #1b2432;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.sidebar .sidebar-header {
  margin: 1rem;
  line-height: 1.2rem;
}

.sidebar .sidebar-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffeab2;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.sidebar .navbar-collapse {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  margin: 1rem 0 0 0;
  padding-bottom: 2rem;
}

.sidebar .navbar-collapse .navbar-nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 0;
}

.sidebar .navbar-collapse .navbar-nav .nav-item .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.75rem 1rem;
  color: white;
}

.sidebar .navbar-collapse .navbar-nav .nav-item .card {
  margin: 0;
  padding: 0 0.75rem;
  background: none;
}

.topbar {
  padding: 1rem 1.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.topbar .topbar-title {
  text-transform: uppercase;
}

.topbar-property {
  margin-bottom: 3rem;
}

.topbar-property .topbar-title {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.topbar-property .topbar-subtitle {
  font-size: 0.9rem;
  font-style: italic;
}

.topbar-property .nav-tabs {
  margin-left: auto;
  border: none;
  background: none;
}

.topbar-property .nav-tabs .nav-item .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 0.8rem;
  text-transform: uppercase;
  border: none;
}

.topbar-property .nav-tabs .nav-item .nav-link svg {
  display: none;
}

.topbar-property .nav-tabs .nav-item .nav-link.active {
  color: #ffeab2;
  font-weight: bold;
  border: none;
  background: none;
}

.upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.upload .upload-input {
  width: 0.1px;
  height: 0.1px;
  margin: 0;
  padding: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.upload .upload-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem auto;
  cursor: pointer;
}

.upload .upload-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 15rem;
  height: 15rem;
  margin: 0 auto;
  background-color: #1b2432;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.upload .upload-photo--current {
  background-image: url("../ico/default-avatar.svg");
}

.upload .upload-photo--uploaded {
  display: none;
}

.upload .upload-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0.5rem;
  font-size: 0.9rem;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
}

.svg {
  width: 22px;
  height: 22px;
  margin-right: 0.75rem;
  fill: white;
}

.svg--toggler {
  width: 24px;
  height: 24px;
}

.svg--powered {
  width: 28px;
  height: 28px;
}

.svg--card {
  width: 45px;
  height: 45px;
}

.svg--red {
  fill: red;
}

.form {
  width: 100%;
  margin: 0;
  padding: 0;
  background: none;
}

.form--user-password--update {
  max-width: 70%;
}

.form-group {
  margin-bottom: 0.5rem;
}

.form-group label {
  margin-bottom: 0.25rem !important;
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 400;
}

.form-control {
  color: #ffffff !important;
  font-weight: 300 !important;
  background-color: #6c7789 !important;
  border: none;
  border-radius: 0 !important;
}

.form-control:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 234, 178, 0.7) !important;
          box-shadow: 0 0 0 0.2rem rgba(255, 234, 178, 0.7) !important;
}

.btn-submit {
  color: #1b2432;
  background-color: #ffeab2;
}

.btn-cancel {
  color: white !important;
  background: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.msg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
}

.msg-status--success {
  color: green !important;
}

.msg-status--error {
  color: red !important;
}

.link {
  color: #ffeab2 !important;
}

.link:hover {
  font-style: italic;
  font-weight: 500;
}

.link:focus {
  font-style: italic;
  font-weight: 500;
}

.card--property-summary {
  width: 220px;
  margin: 0 1rem 3rem 0;
  padding: 1rem 1.5rem;
  background-color: #6c7789;
}

.card--property-summary .card-title {
  font-size: 3rem;
  line-height: 2rem;
}

.card--property-summary .card-text {
  color: white !important;
  font-size: 12px;
  text-transform: uppercase;
}

.card-svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: -1rem;
  left: 1rem;
  width: 65px;
  height: 65px;
  margin-bottom: -65px;
  z-index: 1;
  background-color: #394456;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-username {
  margin-right: 0.75rem;
  font-size: 15px;
}

.user-avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: url(../ico/default-avatar.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.user-avatar-2x2 {
  width: 2rem;
  height: 2rem;
}

.user-avatar-12x12 {
  width: 12rem;
  height: 12rem;
}

.user-avatar-button {
  max-width: 80px;
  margin-bottom: 1rem;
  padding: 0.5rem 0.65rem;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 0.25rem;
}
