/* Main */

.wrapper {
  display: flex;
  min-height: 100vh;
}

.wrapper .content-wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
}

.wrapper .content-wrapper .content {
  margin: 1.5rem 2rem;
  padding-bottom: 4rem;
}

/* Login & Sign up*/

#login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#login form {
  max-width: 380px;
  min-width: 320px;
  min-height: 360px;
  padding: 2rem 3rem;
  margin: 0 auto;
  background-color: #1b2432;
  border-radius: 3px;
}

#login form h4 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 2rem;
}

#login form .links {
  margin-top: 2.5rem;
}

#login form .links p {
  margin-bottom: 0.2rem;
  color: #ffffff;
  font-size: 0.9rem;
  text-align: center;
}

/* Dashboard */

.message {
  font-size: 1.2rem;
  text-align: center;
}

/* Property */

#property header h4 {
  color: #ffeab2;
}

#property header div span {
  font-size: 0.9rem;
}

#property #property-topbar {
  justify-content: flex-start;
  margin: 2.5rem 0;
  padding: 0;
  padding-bottom: 1px;
  border-bottom: 1px solid #1b2432;
  box-shadow: none;
}

#property #property-topbar .nav-tabs {
  border: none !important;
}

#property #property-topbar .nav-tabs .nav-item .waves-ripple {
  background: none !important;
}

#property #property-topbar .nav-tabs .nav-item .nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.2rem;
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 300;
  border-top: 3px solid #47556b !important;
  border-right: none !important;
  border-bottom: 3px solid #47556b !important;
  border-left: none !important;
}

#property #property-topbar .nav-tabs .nav-item .nav-link:hover {
  border-bottom: 3px solid #1b2432 !important;
}

#property #property-topbar .nav-tabs .nav-item .nav-link.active {
  font-weight: bold;
  background: none !important;
  border-bottom: 3px solid #ffeab2 !important;
}

/* Management */
.table a {
  color: #ffeab2 !important;
  font-size: 1rem;
  text-transform: capitalize;
  text-decoration: underline;
}

.table button {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 300;
}

.table thead {
  background-color: #1b2432;
}

.table thead tr th {
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 300;
  border-bottom: 2px solid #1b2432 !important;
}

.table tbody {
  color: #ffffff;
}

.table tbody td {
  vertical-align: middle;
}

/* Edit profile  & change password*/

#profile .upload-header {
  position: absolute;
  top: -1.6rem;
  width: 85%;
  margin: 0 auto;
  padding: 1rem;
  color: #000000;
  background-color: #ffeab2;
  border-radius: 3px;
}

#profile .upload-wrapper {
  width: 100%;
  background-color: #1b2432;
  border-radius: 3px;
}

#profile .upload-wrapper .upload {
  position: absolute;
  top: -2.8rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 8rem;
  height: 8rem;
  margin: 0 auto;
  background-color: #1b2432;
  border-radius: 4rem;
}

#profile .upload-wrapper .upload #profile-avatar {
  width: 8rem;
  height: 8rem;
  border-radius: 4rem;
}

#profile .upload-wrapper .upload a {
  position: absolute;
  top: 6rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  padding: 0.4rem;
  background-color: rgba(156, 156, 156, 0.9);
  border-radius: 6px;
}

#profile .upload-wrapper .upload a img {
  width: 1rem;
}

#profile .info-header {
  position: absolute;
  top: -1.6rem;
  width: 95%;
  margin: 0 auto;
  padding: 1rem;
  color: #000000;
  background-color: #ffeab2;
  border-radius: 3px;
}

#profile .info-header span {
  font-size: 1.2rem;
}

#profile form {
  width: 100%;
  margin-bottom: 2rem;
  padding: 4.2rem 2rem 2rem 2rem;
  background-color: #1b2432;
  border-radius: 3px;
}

#profile form .btn-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 2rem;
}

#profile form .btn-wrapper button {
  margin-top: 1rem;
}
