@media screen and (max-width: 768px) {
  /* Property */
  #property #property-topbar header .property-name {
    font-size: 1.25rem;
  }

  #property #property-topbar header .property-location {
    font-size: 0.8rem;
  }

  #property #property-topbar .nav-tabs {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 0;
    border: none !important;
    border-radius: 3px;
  }

  #property #property-topbar .nav-tabs .nav-item .nav-link {
    padding: 0.85rem;
    border: none !important;
  }

  #property #property-topbar .nav-tabs .nav-item .nav-link svg {
    display: block;
    width: 32px;
    margin: 0 !important;
  }

  #property #property-topbar .nav-tabs .nav-item .nav-link.active svg {
    fill: #ffeab2;
  }

  #property #property-topbar .nav-tabs .nav-item .nav-link span {
    display: none;
  }
}

/* Profile */

@media screen and (max-width: 1178px) {
  #profile .profile-content {
    flex-direction: column-reverse;
  }

  #profile .profile-content form {
    width: 100%;
    margin-right: 0;
  }

  #profile .profile-content .profile-photo-wrapper {
    margin: 0 auto;
  }
}
