/* Main */

.wrapper {
  display: flex;
}

.wrapper .content-wrapper {
  width: 100%;
}

.wrapper .content-wrapper .content {
  margin: 1rem;
  padding: 1rem;
}

/* Login */

.brand-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  margin: 1rem;
  line-height: 1rem;
}

.brand {
  color: #ffeab2;
  font-size: 1.2rem;
  line-height: 1rem;
  text-transform: uppercase;
}

#login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#login form {
  max-width: 380px;
  min-width: 320px;
  min-height: 360px;
  padding: 2rem 3rem;
  margin: 0;
  background-color: #1b2432;
  border-radius: 3px;
}

#login form h4 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 1.5rem;
}

#login .form-group {
  margin-bottom: 1.5rem;
}

#login form .form-group .form-control:focus {
  border-bottom: 1px solid #ffeab2;
  box-shadow: none;
}

#login form .form-group .form-control::placeholder {
  color: #ffffff;
}

#login form button {
  display: block;
  color: #1b2432;
  background-color: #ffeab2;
}

#login form .links {
  margin-top: 2.5rem;
}

#login form .links p {
  margin-bottom: 0.2rem;
  color: #ffffff;
  font-size: 0.9rem;
  text-align: center;
}

#login form .links p a {
  color: #ffeab2;
}

#login form .links p a:hover {
  color: #ffeab2;
  font-style: italic;
  text-decoration: underline;
}

#login form .links p a:focus {
  color: #ffeab2;
  font-style: italic;
}

/* Sign up */

#login form .upload {
  margin-bottom: 1rem;
  border: 1px dashed #ffffff;
}

#login form .upload label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
}

#login form .upload label #uploaded-image {
  width: 4rem;
  height: 4rem;
  background-image: url("../images/placeholder.png");
  background-position: center;
  background-size: cover;
}

#login form .upload label span {
  display: block;
  width: 200px;
  margin-top: 0.5rem;
  color: #ffffff;
  font-size: 0.9rem;
  text-align: center;
  word-wrap: break-word;
}

#login form .upload input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

/* Home */

/* Property */

#property .container-fluid .row .col-12 #accordion {
  margin: 1rem 0;
}

#property .container-fluid .row .col-12 #accordion .card {
  margin-bottom: 0.5rem;
}

#property .container-fluid .row .col-12 #accordion .card .card-header {
  padding: 0;
}

form .modal .modal-dialog .modal-content {
  border-radius: 3px;
  background: none;
}

form .modal .modal-dialog .modal-content .modal-header {
  color: #ffeab2;
  background-color: #1b2432;
  border: none;
}

form .modal .modal-dialog .modal-content .modal-header h5 {
  font-weight: bold;
}

form .modal .modal-dialog .modal-content .modal-body {
  padding: 1rem 2rem;
  background-color: #47556b;
}

form .modal .modal-dialog .modal-content .modal-body .form-group {
  margin: 0.5rem 1.5rem;
}
form
  .modal
  .modal-dialog
  .modal-content
  .modal-body
  .form-group
  input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

form .modal .modal-dialog .modal-content .modal-body .form-group .form-control {
  border-bottom: 1px solid #ffffff;
}

form
  .modal
  .modal-dialog
  .modal-content
  .modal-body
  .form-group
  .form-control:focus {
  border-bottom: 1px solid #ffeab2;
}

form
  .modal
  .modal-dialog
  .modal-content
  .modal-body
  .form-group
  .form-control::placeholder {
  color: #dfe0e1;
  font-size: 15px;
}

form .modal .modal-dialog .modal-content .modal-footer {
  color: #ffeab2;
  background-color: #1b2432;
  border: none;
}

form .modal .modal-dialog .modal-content .modal-footer .cancel {
  background: none;
  border: 1px solid #1b2432;
  box-shadow: none;
}

form .modal .modal-dialog .modal-content .modal-footer .cancel:hover {
  color: #ffeab2;
  box-shadow: none;
}

form .modal .modal-dialog .modal-content .modal-footer .add {
  color: #1b2432;
  background-color: #ffeab2;
}
