/* Scrollbar */
::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #1b2432;
}

body {
  color: #ffffff;
  background-color: #47556b;
}

/* Links */

a {
  color: #ffeab2;
}

a:hover {
  color: #ffeab2;
}

a:focus {
  color: #ffeab2;
}

a:active {
  color: #ffeab2;
}

/* DataTables Custom */

.dataTables_filter {
  display: flex;
  align-items: center;
}

.dataTables_filter label {
  margin: 0;
  font-size: 1rem;
  font-weight: 300 !important;
}

.dataTables_filter .form-control {
  padding: 0;
  font-size: 1rem;
  background: none;
  border: none;
  border-bottom: 2px solid #ffffff !important;
  border-radius: 0;
}

.dataTables_filter .form-control:focus {
  color: #ffffff;
  border-bottom: 2px solid #ffeab2 !important;
  outline: none;
  box-shadow: none;
}

.dataTables_info {
  padding: 0 !important;
  font-size: 0.9rem;
}

.paginate_button.page-item a {
  margin-right: 0.5rem;
  color: #ffffff !important;
}

.paginate_button.page-item a:hover {
  color: #1b2432 !important;
  background-color: #ffeab2 !important;
}

.paginate_button.page-item.disabled a {
  color: #abadb0 !important;
}

.paginate_button.page-item.disabled a {
  background: none !important;
}

.paginate_button.page-item.active a {
  color: #1b2432 !important;
  background-color: #ffeab2 !important;
}

/* Icon */

.icon {
  width: 1.2em;
  margin-right: 0.75rem;
}

/* Buttons */

.btn-custom {
  color: #1b2432;
  background-color: #ffeab2;
}

/* Forms */

.form-group {
  margin: 0;
}

.form-control:focus {
  border-color: #ffeab2;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 234, 178, 0.25);
}

.form-control:disabled {
  color: #bfc2c4 !important;
  border-bottom: 1px solid #bfc2c4 !important;
}

.md-form {
  margin: 0;
}

.md-form label {
  color: #ffffff !important;
  font-size: 0.9rem;
}

.md-form .form-control {
  color: #ffffff;
}

.md-form .form-control:focus {
  border-bottom: 1px solid #ffeab2 !important;
  box-shadow: 0 1px 0 0 #ffeab2 !important;
}

.md-form select {
  border: none !important;
  border-bottom: 1px solid #ffffff !important;
}

.md-form select option {
  color: #ffffff !important;
  background-color: #47556b !important;
}

.form-group .select-label {
  margin-bottom: 0 !important;
  font-size: 0.8rem;
}

/* Custom file input */

.upload {
  display: flex;
  justify-content: center;
}

.upload .form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 0 0;
}

.upload .form-group label {
  max-width: 20rem;
  max-height: 20rem;
  margin: 0 0 1rem 0;
  cursor: pointer;
}

.upload .form-group label #old_image {
  width: 20rem;
  height: 20rem;
  margin: 0 auto;
  background-color: #1b2432;
}

.upload .form-group label #updated_image {
  display: none;
  width: 20rem;
  height: 20rem;
  margin: 0 auto;
  padding: 0;
  background-color: #1b2432;
  background-position: center;
  background-size: cover;
}

.upload .form-group label .upload_text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -46.38px;
  width: 20rem;
  padding: 0.2rem 0.5rem;
  background: rgba(0, 0, 0, 0.5);
}

.upload .form-group label .upload_text img {
  width: 40px;
  height: 40px;
  margin-right: 0.3rem;
}

.upload .form-group input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  margin: 0;
  padding: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

/* Table */

.table a {
  color: #ffeab2 !important;
  font-size: 1rem;
  text-transform: capitalize;
  text-decoration: underline;
}

.table button {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 300;
}

.table thead {
  background-color: #1b2432;
}

.table thead tr th {
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 300;
  border-bottom: 2px solid #1b2432 !important;
}

.table tbody {
  color: #ffffff;
}

.table tbody td {
  vertical-align: middle;
}
