.page--profile {
  .user {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;

    .user-avatar {
      width: 12rem;
      height: 12rem;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 50%;
    }

    .user-avatar-button {
      position: relative;
      top: 9rem;
      width: auto;
      max-width: 80px;
      padding: 0.5rem 0.65rem;
      font-size: 14px;
      background: rgba(0, 0, 0, 0.75);
      border-radius: 0.25rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .page--profile {
    .row {
      flex-direction: column-reverse;
    }

    .user {
      align-items: center;
      margin: 0;
    }
  }
}
