// -----------------------------------------------------------------------------
// This file contains styles that are related to pages.
// -----------------------------------------------------------------------------

.page {
    width     : 100%;
    min-height: 100vh;
    padding   : 25px;
}