.page--profile {
  .user {
    flex-direction: column;
    margin-left: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .page--profile {
    .row {
      flex-direction: column-reverse;
    }

    .user {
      align-items: center;
      margin: 0;
    }
  }
}
