<!-- Delete tenant modal -->
<form action="/user/property/tenant/delete" method="POST">
    <div class="modal fade" id="deleteTenantModal" tabindex="-1" role="dialog" aria-labelledby="deleteTenantModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Are you sure you want to delete?</h4>
                </div>
                <div class="modal-body">
                    <input class="form-control" name="_id" id="inputDeleteTenant_id" type="hidden" required>
                    <input class="form-control" name="property" id="property" type="hidden" value="{{property._id}}"
                        required>
                    <div>
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th>First name</th>
                                    <th>Last name</th>
                                    <th>Mobile</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span id="spanDeleteTenantFirstName"></span></td>
                                    <td><span id="spanDeleteTenantLastName"></span></td>
                                    <td><span id="spanDeleteTenantMobile"></span></td>
                                    <td><span id="spanDeleteTenantEmail"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn z-depth-0 text-white" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Confirm delete</button>
                </div>
            </div>
        </div>
    </div>
</form>