.bg-color-1 {
  background-color: color(color-1);
}

.bg-color-2 {
  background-color: color(color-2);
}

.bg-color-3 {
  background-color: color(color-3);
}

.bg-color-4 {
  background-color: color(color-4);
}

.bg-color-5 {
  background-color: color(color-5);
}
