.custom-bg-1 {
  background-color: color(color-1);
}

.custom-bg-2 {
  background-color: color(color-2);
}

.custom-bg-3 {
  background-color: color(color-3);
}

.custom-bg-4 {
  background-color: color(color-4);
}

.custom-bg-5 {
  background-color: color(color-5);
}
