<!-- Add property modal -->
<form action="/user/property/add" method="POST">
    <div class="modal fade" id="addPropertyModal" tabindex="-1" role="dialog" aria-labelledby="addPropertyModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add property</h4>
                </div>
                <div class="modal-body">
                    <div class="md-form mt-2 mb-3">
                        <label for="name">Name</label>
                        <input class="form-control" name="name" id="name" type="text" required>
                    </div>
                    <div class="md-form mb-3">
                        <label for="location">Location</label>
                        <input class="form-control" name="location" id="location" type="text" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn z-depth-0 text-white" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-custom">Add</button>
                </div>
            </div>
        </div>
    </div>
</form>