.card--property-summary {
  width: 220px;
  margin: 0 1rem 3rem 0;
  padding: 1rem 1.5rem;
  background-color: color(color-5);

  .card-title {
    font-size: 3rem;
    line-height: 2rem;
  }

  .card-text {
    color: white !important;
    font-size: 12px;
    text-transform: uppercase;
  }
}

.card-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -1rem;
  left: 1rem;
  width: 65px;
  height: 65px;
  margin-bottom: -65px;
  z-index: 1;
  background-color: color(color-3);
}
