.svg {
  width: 18px;
  height: 18px;
  margin-right: 0.75rem;
}

.svg--toggler {
  width: 24px;
  height: 24px;
}

.svg--powered {
  width: 28px;
  height: 28px;
}

.svg--card {
  width: 72px;
  height: 72px;
}

.svg--white {
  fill: white;
}

.svg--dark {
  fill: color(color2);
}

.svg--red {
  fill: red;
}
