.svg {
  width: 18px;
  height: 18px;
  margin-right: 0.75rem;
}

.svg__toggler {
  width: 24px;
  height: 24px;
}

.svg__powered {
  width: 28px;
  height: 28px;
}

.svg--white {
  fill: white;
}

.svg--dark {
  fill: color(color2);
}

.svg--red {
  fill: red;
}
