.main.main--admin {
  .main-content {
    .topbar {
      padding: 1rem 1.5rem;
      justify-content: space-between;
      background: none;
      box-shadow: none;

      .topbar-title {
        text-transform: uppercase;
      }

      .user {
        display: flex;
        align-items: center;

        .user-username {
          margin-right: 0.75rem;
          font-size: 15px;
        }

        .user-avatar {
          width: 2rem;
          height: 2rem;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          border-radius: 50%;
        }
      }
    }
  }
}
