.topbar {
  padding: 1rem 1.5rem;
  justify-content: space-between;
  background: none;
  box-shadow: none;

  .topbar-title {
    text-transform: uppercase;
  }
}

.topbar-property {
  margin-bottom: 3rem;

  .topbar-title {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .topbar-subtitle {
    font-size: 0.9rem;
    font-style: italic;
  }

  .nav-tabs {
    margin-left: auto;
    border: none;
    background: none;

    .nav-item {
      .nav-link {
        display: flex;
        align-items: center;
        color: white;
        font-size: 0.8rem;
        text-transform: uppercase;
        border: none;

        svg {
          display: none;
        }
      }

      .nav-link.active {
        color: color(color-1);
        font-weight: bold;
        border: none;
        background: none;
      }
    }
  }
}
