.user {
  display: flex;
  align-items: center;
}

.user-username {
  margin-right: 0.75rem;
  font-size: 15px;
}

.user-avatar {
  display: flex;
  align-items: flex-end;
  background: url(../ico/default-avatar.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.user-avatar-2x2 {
  width: 2rem;
  height: 2rem;
}

.user-avatar-12x12 {
  width: 12rem;
  height: 12rem;
}

.user-avatar-button {
  max-width: 80px;
  margin-bottom: 1rem;
  padding: 0.5rem 0.65rem;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 0.25rem;
}
