{{>topbar}}

<!-- Main -->
<main class="wrapper">

    {{>sidebar}}

    <!-- Content -->
    <section class="content-wrapper">

        <section class="content" id="dashboard">

            {{#if properties}}



            {{else}}

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 mt-5 text-center">
                        <span class="message">There are currently no property listed under your account.</span>
                    </div>
                </div>
            </div>

            {{/if}}

        </section>

    </section>

</main>