<!-- Main -->
<main class="wrapper">

    {{>sidebar}}

    <!-- Content -->
    <section class="content-wrapper">

        {{>topbar}}

        <section class="content">

            {{#if properties}}



            {{else}}

            <div class="message">
                <span>There are currently no property listed under your account.</span>
            </div>

            {{/if}}

        </section>

    </section>

    {{>modals/add_modal}}

</main>