<!-- Main -->
<main class="wrapper">

    {{>sidebar}}

    <!-- Content -->
    <section class="content-wrapper">

        {{>topbar}}

        <!-- Main Content -->
        <section class="content">

        </section>

    </section>

    {{>modals/add_modal}}

</main>