{{#extend "main"}}

{{#content "extra_css"}}
{{/content}}

{{#content "main"}}
<main class="main main--admin">
    <section class="main-content w-100">
        <div class="page page--login d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-4 pt-4 pb-4 custom-bg-2 rounded">
                        <h3 class="text-center">Sign up</h3>
                        <form class="pt-2 pr-4 pb-2 pl-4 js-form--user-signup" action="/api/user/signup" method="POST"
                            novalidate>
                            <div class="form-group">
                                <label>Username</label>
                                <input class="form-control js-form-input-username" type="text" name="username" required>
                                <span class="msg js-username-indicator mt-1"></span>
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input class="form-control js-form-input-email" type="email" name="email" required>
                                <span class="msg js-email-indicator mt-1"></span>
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input class="form-control js-form-input-password" type="password" name="password"
                                    required>
                                <span class="msg js-password-indicator mt-1"></span>
                            </div>
                            <button class="btn btn-submit btn-block mt-4">Create account</button>
                        </form>
                        <div class="mt-4 d-flex flex-column align-items-center" style="font-size: 14px;">
                            <span>Already have an account? <a class="link" href="/">Log in</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{{/content}}

{{#content "extra_js"}}
<script src="/js/form-validation/signup.js"></script>
{{/content}}

{{/extend}}