{{#extend "main"}}

{{#content "main"}}

<!-- Main -->
<main id="main-content">

    <!-- Content -->
    <section id="content">

        {{#block "content"}}

        {{/block}}

    </section>
</main>

{{/content}}

{{/extend}}