{{#extend "layout-admin"}}

{{#content "extra_css"}}
{{/content}}

{{#content "page-content"}}
<div class="page page--dashboard">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 p-0">
                {{#if properties}}
                {{else}}
                <div class="p-4 text-center">
                    <span class="message">There are no properties registered under your account.</span>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>
{{/content}}

{{#content "extra_js"}}
{{/content}}

{{/extend}}