{{#extend "main"}}

{{#content "extra_css"}}
{{/content}}

{{#content "main-content"}}

<!-- Content -->
<main id="login">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-4">
                <form action="/api/user/login" method="POST" id="loginForm" novalidate>
                    <h4>Log in</h4>
                    {{#if message}}
                    <div class="d-flex mb-4"
                        style="padding: 0.25rem 0.75rem; background-color: #242F42; border-radius: 3px;">
                        <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="red" width="18px"
                            height="18px">
                            <path
                                d="M11 15h2v2h-2v-2zm0-8h2v6h-2V7zm.99-5C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z" />
                        </svg>
                        <span class="msg err_msg">{{message}}</span>
                    </div>
                    {{/if}}
                    <div class="md-form mb-3">
                        <input class="form-control m-0" id="email" type="email" name="email" id="email" required>
                        <label class="d-flex align-items-center" for="email">
                            <div class="d-flex align-items-center" id="email_indicator"></div>
                            Email
                        </label>
                        <span class="msg err_msg" id="email_indicator_msg"></span>
                    </div>
                    <div class="md-form mb-3">
                        <input class="form-control m-0" type="password" name="password" id="password" required>
                        <label class="d-flex align-items-center" for="password">
                            <div class="d-flex align-items-center" id="password_indicator"></div>
                            Password
                        </label>
                        <span class="msg err_msg" id="password_indicator_msg"></span>
                    </div>
                    <button class="btn btn-custom btn-block" type="submit">Log in</button>
                    <div class="links">
                        <p>
                            <span>Forgot password? </span>
                            <a class="btn-link" href="#reset">Reset</a>
                        </p>
                        <p>
                            <span>Don't have an account yet? </span>
                            <a class="btn-link" href="/signup">Sign up</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

{{/content}}

{{#content "extra_js"}}
<script>
    $('document').ready(function () {
        // Initial status of input fields
        $('#loginForm')
            .data('email', 'failed')
            .data('password', 'failed')

        const err_svg = '<svg class="mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="red" width="18px" height="18px"><path d="M11 15h2v2h-2v-2zm0-8h2v6h-2V7zm.99-5C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/></svg>'

        // Overall form validity check
        $('#loginForm').on('submit', function () {
            let email = $('#email').val()
            let password = $('#password').val()

            let emailCheck = $('#loginForm').data('email')
            let passwordCheck = $('#loginForm').data('password')

            if (emailCheck == 'failed' || passwordCheck == 'failed') {
                if (email == '') {
                    $('#email_indicator')
                        .html(err_svg)
                    $('#email_indicator_msg')
                        .text('Cannot be empty.')
                }

                if (password == '') {
                    $('#password_indicator')
                        .html(err_svg)
                    $('#password_indicator_msg')
                        .text('Cannot be empty.')
                }

                return false
            } else {
                return true
            }
        });

        $('#email').on('keyup', function () {
            let email = $('#email').val()

            if (email != '') {
                $('#loginForm')
                    .data('email', 'passed')
                $('#email_indicator')
                    .html('')
                $('#email_indicator_msg')
                    .text('')
            } else if (email == '') {
                $('#email_indicator')
                    .html(err_svg)
                $('#email_indicator_msg')
                    .text('Cannot be empty.')
            } else {
                $('#loginForm')
                    .data('email', 'failed')
            }
        });

        $('#password').on('keyup', function () {
            let password = $('#password').val()

            if (password != '') {
                $('#loginForm')
                    .data('password', 'passed')
                $('#password_indicator')
                    .html('')
                $('#password_indicator_msg')
                    .text('')
            } else if (password == '') {
                $('#password_indicator')
                    .html(err_svg)
                $('#password_indicator_msg')
                    .text('Cannot be empty.')
            } else {
                $('#loginForm')
                    .data('password', 'failed')
            }
        })
    });
</script>
{{/content}}

{{/extend}}