<footer>
    <div class="container-fluid" style="background-color: #9C9EA1;">
        <div class="row p-4">
            <div class="col-12 text-center text-black-50">
                <span>Insert footer message here</span>
            </div>
        </div>
    </div>
</footer>