<!-- Sidebar -->
<nav class="sidebar">
    <!-- Header -->
    <div class="header">
        <a href="/property">Property</a>
        <a class="nav-item" data-toggle="modal" data-target="#addPropertyModal">
            <img src="/images/icons/add-property.svg" alt="">
        </a>
    </div>

    <!-- Nav -->
    <div class="navbar-nav" href="">
        {{#each properties}}
        <a class="nav-item" href="/property/{{_id}}">
            <img {{#if avatar}} src="/uploads/property/{{avatar}}" {{else}} src="/images/home.svg" {{/if}} alt="">
            <span>{{name}}</span>
        </a>
        {{/each}}
    </div>

</nav>