<!-- Sidebar -->
<nav class="sidebar">

    <!-- Nav -->
    <div class="navbar-nav nav" id="myTab" role="tablist">
        <a class="nav-item" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
            aria-selected="true">
            <img class="icon" src="/images/icons/user.svg" alt="">
            <span class="text">Account</span>
        </a>
        <a class="nav-item" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
            aria-selected="false">
            <img class="icon" src="/images/icons/shield.svg" alt="">
            <span class="text">Security</span>
        </a>
        <a class="nav-item" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
            aria-selected="false">
            <img class="icon" src="/images/icons/time.svg" alt="">
            <span class="text">Sessions</span>
        </a>
    </div>

</nav>