<!-- Sidebar -->
<nav class="sidebar">
    <!-- Header -->
    <div class="header">
        <a href="/settings">Settings</a>
    </div>

    <!-- Nav -->
    <div class="navbar-nav nav" id="myTab" role="tablist">
        <a class="nav-item" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
            aria-selected="true">
            <img src="/images/icons/tenant.svg" alt="">
            <span>Account</span>
        </a>
        <a class="nav-item" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
            aria-selected="false">
            <img src="/images/icons/shield.svg" alt="">
            <span>Security</span>
        </a>
        <a class="nav-item" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
            aria-selected="false">
            <img src="/images/icons/time.svg" alt="">
            <span>Sessions</span>
        </a>
    </div>
</nav>