<!--Topbar -->
<nav class="navbar navbar-expand-lg topbar z-depth-0" id="topbar">

    <!-- Brand -->
    <a class="brand-link" href="/">
        Dormitory<br>Management<br>System
    </a>

    <!-- User -->
    <div class="user">
        <span class="name">{{user.username}}</span>
        <img class="photo" src="data:image/png;base64,{{user.avatar.data}}">
    </div>

</nav>