{{#extend "layout"}}

{{#content "extra_css"}}
{{/content}}

{{#content "content"}}

<main id="booking">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <form action="/api/booking/{{property.bookingId}}" method="post">
                <!-- First tab -->
                <div class="col-md-8 rounded">
                    <header class="m-0 p-4">
                        <h3 class="mb-0">Personal information</h3>
                    </header>
                    <div class="form-row m-0 pr-4 pb-4 pl-4">
                        <div class="col-md-6 p-0">
                            <h5 class="mb-3">May we know about you...</h5>
                            <div class="form-group mb-2">
                                <label for="">First name</label>
                                <input class="form-control" name="first_name" id="first_name" type="text" required>
                            </div>
                            <div class="form-group mb-2">
                                <label for="">Last name</label>
                                <input class="form-control" name="last_name" id="last_name" type="text" required>
                            </div>
                            <div class="form-group mb-2">
                                <label for="">Birthday</label>
                                <input class="form-control" name="birthday" id="birthday" type="date" required>
                            </div>
                        </div>
                        <div class="col-md-6 p-0">
                            <h5 class="mb-3">How can we contact you?</h5>
                            <div class="form-group mb-2">
                                <label for="">Email</label>
                                <input class="form-control" name="email" id="email" type="email" required>
                            </div>
                            <div class="form-group mb-2">
                                <label for="">Mobile</label>
                                <input class="form-control" name="mobile" id="mobile" type="number" required>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end p-4">
                        <button class="btn btn-dark m-0"> Submit</button>
                    </div>
                </div>
                <!-- Second tab -->
                <div class="col-md-8 rounded">

                </div>
            </form>
        </div>
    </div>
</main>

{{/content}}

{{#content "extra_js"}}
{{/content}}

{{/extend}}