{{#extend "layout"}}

{{#content "extra_css"}}
{{/content}}

{{#content "content"}}

<main id="booking">
    <div class="container-fluid">
        <div class="row">

        </div>
    </div>
</main>

{{/content}}

{{#content "extra_js"}}
{{/content}}

{{/extend}}