<!-- Add catalog modal -->
<form action="/api/catalog/add" method="POST">
    <div class="modal fade" id="addCatalogModal" tabindex="-1" role="dialog" aria-labelledby="addCatalogModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add catalog</h4>
                </div>
                <div class="modal-body">
                    <input name="property" type="hidden" value="{{property._id}}" required>
                    <div class="form-group mt-2 mb-2">
                        <label for="name">Name</label>
                        <input class="form-control" name="name" type="text" id="name" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="rate">Rate</label>
                        <input class="form-control" name="rate" type="number" id="rate" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn z-depth-0 text-white" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn--submit btn">Add</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Update catalog modal -->
<form action="/api/catalog/update" method="POST">
    <div class="modal fade" id="editCatalogModal" tabindex="-1" role="dialog" aria-labelledby="editCatalogModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit catalog</h4>
                </div>
                <div class="modal-body">
                    <input name="property" type="hidden" value="{{property._id}}" required>
                    <div class="form-group mt-2 mb-2">
                        <label for="inputEditCatalogName">Name</label>
                        <input class="form-control" name="name" type="text" id="inputEditCatalogName"
                            value="placeholder" required>
                        <input name="_id" type="hidden" id="inputEditCatalog_id" value="placeholder" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="inputEditCatalogRate">Rate</label>
                        <input class="form-control" name="rate" type="text" id="inputEditCatalogRate"
                            value="placeholder" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn z-depth-0 text-white" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn--submit btn">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Delete catalog modal -->
<form action="/api/catalog/delete" method="POST">
    <div class="modal fade" id="deleteCatalogModal" tabindex="-1" role="dialog" aria-labelledby="deleteCatalogModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Catalog</h4>
                </div>
                <div class="modal-body">
                    <input name="property" type="hidden" value="{{property._id}}" required>
                    <input name="_id" id="inputDeleteCatalog_id" type="hidden" required>
                    <span class="font-weight-normal">Catalog information</span>
                    <div class="table-responsive text-nowrap">
                        <table class="table-sm table-borderless mt-2" style="width: 100%;">
                            <tbody>
                                <tr>
                                    <td class="td-title">Name</td>
                                    <td class="td-content"><span id="spanDeleteCatalogName"></span></td>
                                </tr>
                                <tr>
                                    <td class="td-title">Rate</td>
                                    <td class="td-content"><span id="spanDeleteCatalogRate"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="mt-4 p-1">
                        <div class="d-flex flex-column" style="font-size: 13px;">
                            <span>Note:</span>
                            <p style="font-style: italic;">
                                Catalogs that are currently being used cannot be deleted.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn z-depth-0 text-white" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn red darken-3 text-white">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</form>